canvas{
    background-color: #3F3351;
}

body{
    align-items: center;
}

.slider{
    width: 15%;
}

header{
    width: 100%;
    position: absolute;
    background: transparent !important;
    color: white;
}
a{
    text-decoration: none;
    padding: 0;
}