

:root{
    --main-color: white;
}

body{
    background-color: white;
    min-height: 100vh;
}

.btn i{
    color: white;
}

.btn{
    background-color: black;
    padding: 0.75em 1em;
    border-radius: 100%;
}

.btn:hover{
   background-color: rgb(173, 146, 223);
   animation: rotate 900ms 200ms ease-in-out infinite;
}


/* =========== */
/* Dragable id */
/* =========== */

#dragable {
    position: absolute;
    z-index: 9;
    background-color: transparent;
    border-radius: 100%;
    border: none;
    text-align: center;
  }


/* ================== */
/* Togglable classes */
/* ================== */

.dark-mode{
    background-color: black;
}

.color-dark{
    color: black !important;
}

.btn-mode{
    background-color: white;
}



@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}